{% extends "_base.html" %}

{% block content %}
<div class=" flex justify-center">
    <div class="max-w-md mx-auto p-4 bg-white rounded shadow-md">
      <form method="POST" action="">
        {% csrf_token %}
        <h3 class="text-lg font-bold mb-4">LOGIN</h3>
        <div class="mb-3">
          <input type="text" name="username" placeholder="Username..." class="w-full p-2 pl-10 text-sm text-gray-700">
        </div>
        <div class="mb-2">
          <input type="password" name="password" placeholder="Password..." class="w-full p-2 pl-10 text-sm text-gray-700">
        </div>
        <button type="submit" class="w-full p-2 bg-green-400 hover:bg-green-800 text-white ">Submit</button>
        <p class="text-sm text-gray-500">Don't have an account? <a href="{% url 'signup' %}" class="text-[#102a43]">Register</a></p>
      </form>
      {% for message in messages %}
        <p class="text-center">{{ message }}</p>
      {% endfor %}
    </div>
  </div>

{% endblock content %}