{% extends "_base.html" %}

{% block content %}
<div class="flex justify-center">
    <div>
        <form method="POST" action="" class="max-w-md p-4 bg-white rounded shadow-md">
            {% csrf_token %}
            <h3 class="text-lg font-bold mb-4">REGISTER</h3>
            {% for field in form %}
            <div class="mb-4">
                <h5>{{ field.label }}</h5>
                {{ field }}
                {% if field.errors %}
                    <ul class="text-red-600">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
            <div class="flex justify-center">
                <button type="submit" class="w-full p-2 bg-green-400 hover:bg-green-800 text-white ">Register</button>
            </div>
            <p class="mb-4">Already registered? <a href="{% url 'login' %}">Log In</a></p>
        </form>
    </div>
</div>
{% endblock content %}